.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 48px 24px 120px;
  gap: var(--section-spacing);
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .main {
    max-width: 1200px;
  }
}

